#countdownButton {
    border-radius: 8px;
    font-size: 1.2em;
  }
  


  .countdownTable {
    margin: 0px auto;
    font-family: Georgia;
    font-variant: small-caps;
  }

  .countdownValues td {
    font-size: 1.5em;
  }

  .countdownLabels td {
    font-size: 1em;
  }
  .countdownTable td {
    padding: 5px;
  }