#countdownButton {
    border-radius: 8px;
    font-size: 1.2em;
  }
  


  .countdownTable {
    margin: 0px auto;
    font-family: Georgia;
    font-variant: small-caps;
  }

  .countdownValues td {
    font-size: 1.5em;
  }

  .countdownInputs td input {
    width: 30px;
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia;
    font-variant: small-caps;
    border-radius: 5px;
    padding: 5px;
  }

  .countdownInputs td {
    text-align: center;
  }

  .countdownLabels td {
    font-size: 1em;
  }
  .countdownTable td {
    padding: 5px;
  }